 .u-section-1 {
  min-height: 671px;
  background-image: linear-gradient(#fef9e6, #f1b5b8);
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: -36px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 571px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-style: italic;
  font-weight: 700;
  font-family: "Abril Fatface";
  margin: 189px -20px 0 80px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 571px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 12.5rem;
  line-height: 1;
  font-family: "Abril Fatface";
  font-style: italic;
  font-weight: 400;
  margin: 237px 30px 0 -23px;
}

.u-section-1 .u-text-3 {
  line-height: 1;
  font-size: 3.75rem;
  letter-spacing: 2px;
  text-transform: none;
  margin: 0 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 571px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -123px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 471px;
  }

  .u-section-1 .u-text-2 {
    font-size: 9.375rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -132px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-1 .u-text-2 {
    font-size: 8rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    margin-top: 134px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 310px;
}

.u-section-2 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 4.5rem;
  margin: 76px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 541px;
  margin: 59px auto 60px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-2 .u-icon-2 {
  font-size: 1.5em;
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: -3px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-bottom: -3px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1095px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Abril Fatface";
  margin: 41px -30px 0 30px;
}

.u-section-3 .u-list-1 {
  margin-top: 52px;
  margin-bottom: 14px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 883px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-image-1 {
  width: 225px;
  height: 236px;
  margin: 52px auto 0 30px;
}

.u-section-3 .u-text-2 {
  font-family: "Abril Fatface";
  font-size: 2.25rem;
  margin: -196px 0 0 265px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 20px 265px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-image-2 {
  width: 225px;
  height: 236px;
  margin: 52px auto 0 30px;
}

.u-section-3 .u-text-4 {
  font-family: "Abril Fatface";
  font-size: 2.25rem;
  margin: -196px 0 0 265px;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 20px 265px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-image-3 {
  width: 225px;
  height: 236px;
  margin: 52px auto 0 30px;
}

.u-section-3 .u-text-6 {
  font-family: "Abril Fatface";
  font-size: 2.25rem;
  margin: -196px 0 0 265px;
}

.u-section-3 .u-text-7 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 20px 265px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 235px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -195px;
    margin-left: 274px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
    margin-left: 274px;
  }

  .u-section-3 .u-image-2 {
    height: 235px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -195px;
    margin-left: 274px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: auto;
    margin-left: 274px;
  }

  .u-section-3 .u-image-3 {
    height: 235px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -195px;
    margin-left: 274px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: auto;
    margin-left: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 263px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1801px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 4.0625rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 240px;
    height: 240px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1900px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 963px;
}

.u-section-4 .u-list-1 {
  margin: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 963px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 254px;
  height: 311px;
  margin: 18px auto 0 18px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -198px 0 0 295px;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 23px 0 0 295px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 18px auto 0 295px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 254px;
  height: 311px;
  margin: 18px auto 0 18px;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -198px 0 0 295px;
}

.u-section-4 .u-text-4 {
  font-size: 2.25rem;
  margin: 23px 0 0 295px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 18px auto 0 295px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 254px;
  height: 311px;
  margin: 18px auto 0 18px;
}

.u-section-4 .u-text-5 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -198px 0 0 295px;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  margin: 23px 0 0 295px;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 18px auto 0 295px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 310px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -191px;
    margin-left: 274px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 274px;
  }

  .u-section-4 .u-image-2 {
    height: 310px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -191px;
    margin-left: 274px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 274px;
  }

  .u-section-4 .u-image-3 {
    height: 310px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -191px;
    margin-left: 274px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-4 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 240px;
    height: 240px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 883px;
}

.u-section-5 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 883px;
}

.u-section-5 .u-container-layout-1 {
  padding: 22px 0;
}

.u-section-5 .u-image-1 {
  width: 268px;
  height: 327px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -179px 12px 0 283px;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: 22px 12px 0 283px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 22px auto 0 283px;
}

.u-section-5 .u-container-layout-2 {
  padding: 22px 0;
}

.u-section-5 .u-image-2 {
  width: 268px;
  height: 327px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -179px 12px 0 283px;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  margin: 22px 12px 0 283px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 22px auto 0 283px;
}

.u-section-5 .u-container-layout-3 {
  padding: 22px 0;
}

.u-section-5 .u-image-3 {
  width: 268px;
  height: 327px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -179px 12px 0 283px;
}

.u-section-5 .u-text-6 {
  font-size: 2.25rem;
  margin: 22px 12px 0 283px;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 22px auto 0 283px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-image-1 {
    height: 326px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -222px;
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 95px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 95px;
  }

  .u-section-5 .u-image-2 {
    height: 326px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -178px;
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 95px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 95px;
  }

  .u-section-5 .u-image-3 {
    height: 326px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -178px;
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1930px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 883px;
}

.u-section-6 .u-list-1 {
  margin: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 883px;
}

.u-section-6 .u-container-layout-1 {
  padding: 12px 30px 12px 0;
}

.u-section-6 .u-image-1 {
  width: 253px;
  height: 271px;
  margin: 18px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -202px 0 0 265px;
}

.u-section-6 .u-text-2 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-6 .u-btn-1 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
}

.u-section-6 .u-container-layout-2 {
  padding: 12px 30px 12px 0;
}

.u-section-6 .u-image-2 {
  width: 253px;
  height: 271px;
  margin: 18px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -202px 0 0 265px;
}

.u-section-6 .u-text-4 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-6 .u-btn-2 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
}

.u-section-6 .u-container-layout-3 {
  padding: 12px 30px 12px 0;
}

.u-section-6 .u-image-3 {
  width: 253px;
  height: 271px;
  margin: 18px auto 0 0;
}

.u-section-6 .u-text-5 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -202px 0 0 265px;
}

.u-section-6 .u-text-6 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-6 .u-btn-3 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-6 .u-btn-1 {
    margin: 20px auto 0 274px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-6 .u-btn-2 {
    margin: 20px auto 0 274px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-6 .u-btn-3 {
    margin: 20px auto 0 274px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 164px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    width: 240px;
    height: 240px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    margin-top: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1159px;
}

.u-section-7 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 1162px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-7 .u-image-1 {
  width: 258px;
  height: 247px;
  margin: 89px auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -226px 0 0 265px;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  margin: 29px 1px 0 264px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 19px auto 0 265px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-7 .u-image-2 {
  width: 258px;
  height: 247px;
  margin: 89px auto 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -226px 0 0 265px;
}

.u-section-7 .u-text-4 {
  font-size: 2.25rem;
  margin: 29px 1px 0 264px;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 19px auto 0 265px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-7 .u-image-3 {
  width: 258px;
  height: 247px;
  margin: 89px auto 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -226px 0 0 265px;
}

.u-section-7 .u-text-6 {
  font-size: 2.25rem;
  margin: 29px 1px 0 264px;
}

.u-section-7 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 19px auto 0 265px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    height: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 20px;
    margin-left: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-7 .u-btn-3 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 164px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    width: 240px;
    height: 240px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    margin-top: 225px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 883px;
}

.u-section-8 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 883px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-8 .u-image-1 {
  width: 226px;
  height: 248px;
  margin: 73px auto 0 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -219px 0 0 265px;
}

.u-section-8 .u-text-2 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-8 .u-btn-1 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
}

.u-section-8 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-8 .u-image-2 {
  width: 226px;
  height: 248px;
  margin: 73px auto 0 30px;
}

.u-section-8 .u-text-3 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -219px 0 0 265px;
}

.u-section-8 .u-text-4 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-8 .u-btn-2 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
}

.u-section-8 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-8 .u-image-3 {
  width: 226px;
  height: 248px;
  margin: 73px auto 0 30px;
}

.u-section-8 .u-text-5 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -219px 0 0 265px;
}

.u-section-8 .u-text-6 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-8 .u-btn-3 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    height: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -218px;
    margin-left: 274px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-8 .u-btn-1 {
    margin: 20px auto 0 274px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: -218px;
    margin-left: 274px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-8 .u-btn-2 {
    margin: 20px auto 0 274px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: -218px;
    margin-left: 274px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-8 .u-btn-3 {
    margin: 20px auto 0 274px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-8 .u-btn-3 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 240px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    width: 240px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    width: 240px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 912px;
}

.u-section-9 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 883px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-image-1 {
  width: 202px;
  height: 259px;
  margin: 15px auto 0 37px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -184px 19px 0 276px;
}

.u-section-9 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 19px 0 276px;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 18px auto 0 276px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-image-2 {
  width: 202px;
  height: 259px;
  margin: 15px auto 0 37px;
}

.u-section-9 .u-text-3 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -184px 19px 0 276px;
}

.u-section-9 .u-text-4 {
  font-size: 2.25rem;
  margin: 20px 19px 0 276px;
}

.u-section-9 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 18px auto 0 276px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-image-3 {
  width: 202px;
  height: 259px;
  margin: 15px auto 0 37px;
}

.u-section-9 .u-text-5 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -184px 19px 0 276px;
}

.u-section-9 .u-text-6 {
  font-size: 2.25rem;
  margin: 20px 19px 0 276px;
}

.u-section-9 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#fbeced, #808080);
  margin: 18px auto 0 276px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-list-1 {
    height: auto;
  }

  .u-section-9 .u-image-1 {
    height: 256px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: -190px;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 274px;
  }

  .u-section-9 .u-image-2 {
    height: 256px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: -190px;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-9 .u-btn-2 {
    margin-left: 274px;
  }

  .u-section-9 .u-image-3 {
    height: 256px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: -190px;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-9 .u-btn-3 {
    margin-left: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-9 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-9 .u-btn-3 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 164px;
  }

  .u-section-9 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-9 .u-image-3 {
    width: 240px;
    height: 240px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-list-1 {
    margin-top: 225px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1546px;
}

.u-section-10 .u-list-1 {
  margin-top: -20px;
  margin-bottom: 0;
}

.u-section-10 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-10 .u-image-1 {
  width: 299px;
  height: 339px;
  margin: 166px auto 0 36px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -196px 498px 0 371px;
}

.u-section-10 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px auto 0 371px;
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#fbeced, #e9f2fa);
  margin: 35px auto 0 371px;
}

.u-section-10 .u-image-2 {
  width: 570px;
  height: 278px;
  margin: 121px auto 0 36px;
}

.u-section-10 .u-text-3 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -184px 396px 0 auto;
}

.u-section-10 .u-text-4 {
  font-size: 2.25rem;
  margin: 23px 211px 0 auto;
}

.u-section-10 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#fbeced, #e9f2fa);
  margin: 20px 406px 0 auto;
}

.u-section-10 .u-image-3 {
  width: 348px;
  height: 404px;
  margin: 121px auto 0 36px;
}

.u-section-10 .u-text-5 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  margin: -180px auto 0 400px;
}

.u-section-10 .u-text-6 {
  font-size: 2.25rem;
  margin: 16px auto 0 400px;
}

.u-section-10 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#fbeced, #e9f2fa);
  margin: 23px auto 60px 400px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-list-1 {
    height: auto;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN);
  }

  .u-section-10 .u-text-1 {
    margin-top: -17px;
    margin-right: 274px;
    margin-left: 271px;
  }

  .u-section-10 .u-text-2 {
    margin-top: -137px;
    margin-left: 316px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 12px;
    margin-left: 171px;
  }

  .u-section-10 .u-image-2 {
    margin-top: 122px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 327px;
  }

  .u-section-10 .u-btn-2 {
    margin-right: 206px;
  }

  .u-section-10 .u-image-3 {
    height: 405px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -181px;
    margin-left: 329px;
  }

  .u-section-10 .u-text-6 {
    margin-left: 329px;
  }

  .u-section-10 .u-btn-3 {
    margin-left: 329px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-text-1 {
    margin-right: 210px;
    margin-left: 161px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 242px;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 250px;
  }

  .u-section-10 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-left: 252px;
  }

  .u-section-10 .u-text-6 {
    margin-left: 252px;
  }

  .u-section-10 .u-btn-3 {
    margin-left: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1532px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 164px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -31px;
    margin-right: 158px;
    margin-left: 71px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 66px;
    margin-left: 182px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 18px;
  }

  .u-section-10 .u-image-2 {
    width: 540px;
    height: 264px;
    margin-top: -73px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -39px;
    margin-right: 188px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 66px;
    margin-right: 158px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 41px;
  }

  .u-section-10 .u-image-3 {
    margin-top: 115px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 189px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 17px;
    margin-left: 189px;
  }

  .u-section-10 .u-btn-3 {
    margin-bottom: 0;
    margin-left: 189px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1425px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 225px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -129px;
    margin-right: 99px;
    margin-left: 0;
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-2 {
    margin-top: -137px;
    margin-left: 115px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 29px;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 166px;
    margin-top: 230px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 118px;
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-4 {
    margin-top: -154px;
    margin-right: 99px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 39px;
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 396px;
    margin-top: 147px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -172px;
    margin-left: 119px;
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-6 {
    margin-left: 119px;
    margin-top: 16px;
  }

  .u-section-10 .u-btn-3 {
    margin-left: 119px;
  }
} .u-section-11 {
  background-image: none;
  min-height: 801px;
}

.u-section-11 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 3.75rem;
  width: 253px;
  margin: 46px auto 0;
}

.u-section-11 .u-text-2 {
  margin: 237px calc(((100% - 1140px) / 2) + -31px) 0 calc(((100% - 1140px) / 2) + 1054px);
}

.u-section-11 .u-btn-1 {
  background-image: none;
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  padding: 0;
}

.u-section-11 .u-text-3 {
  font-size: 1.5rem;
  font-family: "Abril Fatface";
  margin: -38px calc(((100% - 1140px) / 2) + 351px) 0 calc(((100% - 1140px) / 2) + 698px);
}

.u-section-11 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-11 .u-text-4 {
  font-size: 1.5rem;
  font-family: "Abril Fatface";
  margin: -38px auto 0 calc(((100% - 1140px) / 2) + 348px);
}

.u-section-11 .u-btn-3 {
  background-image: none;
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  padding: 0;
}

.u-section-11 .u-text-5 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: -38px calc(((100% - 1140px) / 2) + 944px) 0 calc(((100% - 1140px) / 2) + -97px);
}

.u-section-11 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 25px;
}

.u-section-11 .u-image-1 {
  background-image: url("images/WhatsAppImage2022-07-07at1.48.06PM.jpeg");
  min-height: 359px;
  background-position: 50% 50%;
}

.u-section-11 .u-image-2 {
  background-image: url("images/WhatsAppImage2022-07-07at1.47.58PM.jpeg");
  min-height: 359px;
  background-position: 50% 50%;
}

.u-section-11 .u-image-3 {
  background-image: url("images/WhatsAppImage2022-07-07at1.46.27PM.jpeg");
  min-height: 359px;
  background-position: 50% 50%;
}

.u-section-11 .u-image-4 {
  background-image: url("images/WhatsAppImage2022-07-07at1.47.27PM.jpeg");
  min-height: 359px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 738px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 288px;
    margin-right: 137px;
    margin-left: calc(((100% - 940px) / 2) + 869px);
  }

  .u-section-11 .u-text-3 {
    margin-top: -165px;
    margin-right: 405px;
    margin-left: calc(((100% - 940px) / 2) + 598px);
  }

  .u-section-11 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2) + 287px);
  }

  .u-section-11 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 844px);
    margin-left: calc(((100% - 940px) / 2) + -67px);
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 1348px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -232px;
    margin-left: calc(((100% - 720px) / 2) + 666px);
  }

  .u-section-11 .u-text-3 {
    margin-right: 310px;
    margin-left: calc(((100% - 720px) / 2) + 451px);
  }

  .u-section-11 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2) + 220px);
  }

  .u-section-11 .u-text-5 {
    margin-top: -50px;
    margin-right: calc(((100% - 720px) / 2) + 734px);
    margin-left: calc(((100% - 720px) / 2) + -67px);
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 2482px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -157px;
    margin-left: calc(((100% - 540px) / 2) + 500px);
  }

  .u-section-11 .u-text-3 {
    margin-top: -140px;
    margin-right: 233px;
    margin-left: calc(((100% - 540px) / 2) + 338px);
  }

  .u-section-11 .u-text-4 {
    margin-top: 0;
    margin-left: calc(((100% - 540px) / 2) + 165px);
  }

  .u-section-11 .u-text-5 {
    margin-top: -150px;
    margin-right: calc(((100% - 540px) / 2) + 644px);
    margin-left: calc(((100% - 540px) / 2) + -67px);
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 1726px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-11 .u-text-2 {
    margin-top: -207px;
    margin-right: 86px;
    margin-left: calc(((100% - 340px) / 2) + 315px);
  }

  .u-section-11 .u-text-3 {
    margin-top: -90px;
    margin-right: 147px;
    margin-left: calc(((100% - 340px) / 2) + 213px);
  }

  .u-section-11 .u-text-4 {
    margin-top: 50px;
    margin-left: calc(((100% - 340px) / 2) + 104px);
  }

  .u-section-11 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 544px);
    margin-left: calc(((100% - 340px) / 2) + -67px);
  }
}